# Data Cleaning Walkthrough

## 1. Import Appropriate Dependencies

In [1]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

## 2. Clean the dom_change_percent csv

In [2]:
#Read in csv into a dataframe
CovidFoodPriceChange_df = pd.read_csv('Resources/dom_change_percent.csv')
CovidFoodPriceChange_df

,Unnamed: 0,country,price_type,market,commodity,percent,post_covid,yearly
0,0,Cote d'Ivoire,Retail,Abidjan,AttiÃ©kÃ©,NaN,-0.061538,-0.031746
1,1,Cameroon,Retail,YaundÃ©,Bananas (plantains),NaN,0.000000,0.000000
2,2,Cameroon,Retail,Bafoussam,Bananas (plantains),NaN,-0.305556,0.041667
3,3,Morocco,Retail,National Average,Barley (imported),NaN,-0.034483,-0.034483
4,4,Cote d'Ivoire,Retail,Abidjan,Banana (plantains),NaN,0.769231,0.232143
...,...,...,...,...,...,...,...,...
1139,1139,Benin,Retail,Parakou,Yam,NaN,0.057143,0.027778
1140,1140,Benin,Retail,Natitingou,Yam,NaN,0.088235,0.057143
1141,1141,Benin,Retail,Cotonou,Yam,NaN,0.057692,0.100000
1142,1142,Ghana,Wholesale,Tamale,Yam,NaN,-0.090909,0.000000
1143,1143,Ghana,Wholesale,Techiman,Yam,NaN,0.700000,-0.128205

In [3]:
CovidFoodPriceChange_df['commodity'].value_counts()

Rice                195
Sorghum              98
Wheat (flour)        90
Potatoes             72
Millet               69
                   ...
Cassava               1
Pasta                 1
Beans (white)         1
Potatoes (white)      1
AttiÃ©kÃ©             1
Name: commodity, Length: 84, dtype: int64

In [4]:
#Some of the markets have special characters in their city names, so we need to remove these characters.
CovidFoodPriceChange_df['market'].unique()

array(['Abidjan', 'YaundÃ©', 'Bafoussam', 'National Average', 'Douala',
       'Bukavu', 'Bamenda', 'Goma', 'Kigali', 'Lubumbashi', 'Ruhengeri',
       'Dar es Salaam', 'Lira', 'Kampala', 'Cap Haitien', 'Santo Domingo',
       'Guatemala City', 'Ouanaminthe', 'Les Cayes', 'Jeremie', 'Jacmel',
       'Hinche', 'Port-au-Prince', 'Guadalajara', 'Puebla', 'Mexico City',
       'Xalapa', 'Panama City', 'San Salvador', 'Garoua',
       'San Pedro Sula', 'Tegucigalpa', 'Managua (oriental)',
       'Greater Buenos Aires', 'Aktau', 'Almaty', 'Kostanay',
       'Nur-Sultan', 'Batken', 'Bishkek', 'Jalal-Abad', 'Naryn', 'Osh',
       'Nouakchott', 'Selenge', 'Dornod', 'Bayan-Ulgii', 'Jalalabad',
       'Herat', 'Kabul', 'Kandahar', 'Ulaanbaatar', 'Uvurkhangai',
       'Potosi', 'Santiago', 'Bulawayo', 'Manicaland', 'Harare',
       'Mash east', 'Mash central', 'Masvingo', 'Mash west', 'Lima',
       'SÃ£o Paulo', 'Mat north', 'Mat south', 'Midlands', 'Hhohho',
       'Manzini', 'Lubombo', 'Minsk', 'National average', 'Shiselweni',
       'Gaza Strip', 'West Bank', 'Tokyo', 'Osaka', 'Juba', 'Nampula',
       'Luanda', 'Bangkok', 'AsunciÃ³n', 'Cotonou', 'S.Vincente',
       'Natitingou', 'Parakou', 'Amegnran', 'Anie', 'CinkassÃ©', 'Kara',
       'Korbongou', 'LomÃ©', 'S.AntÃ£o', 'Accra', 'Tamale', 'Techiman',
       'Mzuzu', 'Cochabamba', 'La Paz', 'Oruro', 'Santa Cruz', 'Sucre',
       'Tarija', 'Trinidad', 'Hadramout', 'Dhamar', 'New Delhi', 'Mumbai',
       'Chennai', 'Hajjah', 'Hodeidah', 'Yangon', 'Ibadan', 'Kano',
       'Kaura Namoda', 'Lagos', 'Maiduguri', 'Bujumbura', 'Ngozi',
       'Gitega', "N'Djamena", 'Bol', 'Moussoro', 'Ambato', 'Mekele',
       'Diredawa', 'Bahirdar', 'Guayaquil', 'Quito', 'Riobamba',
       'Addis Ababa', 'Kumasi', 'Bolgatanga', 'Kisumu', 'Eldoret',
       'Liwonde', 'Lilongwe', 'Nakuru', 'Nairobi', 'Mombasa', 'Zinder',
       'Tillaberi', 'Niamey', 'Maradi', 'Dosso', 'Mzimba', 'Nsanje',
       'Agadez', 'Arusha', 'Masindi', 'Kabale', 'Conakry', 'MedellÃ\xadn',
       'Angonia', 'Chokwe', 'Gorongosa', 'Manica', 'Maputo', 'Montepuez',
       'Ribaue', 'Giwa', 'South Cotabato', 'Belet Weyne', 'Baidoa',
       'Hargeisa', 'Borama', 'Buale', 'Galkayo', 'Hudur', 'Kismayo',
       'Marka', 'Mogadishu', 'Qorioley', 'Randfontein', 'Aweil', 'Bor',
       'Gogrial', 'Rumbek', 'Torit', 'Wau', 'Yambio', 'CuliacÃ¡n',
       'Davao City', 'Cebu', 'Rosario', 'Mato Grosso', 'Federal District',
       'ParanÃ¡', 'Rio Grande do Sul', 'Portoviejo', 'Cuenca',
       'Cartagena', 'BogotÃ¡', 'MetroManila', 'Katima', 'Gobabis',
       'Keetmanshoop', 'Mariental', 'Oshakati', 'Otjiwarongo',
       'Swakopmund', 'Windhoek', 'Ahmedabad', 'Bengaluru', 'Bhopal',
       'Patna', 'Abeche', 'Moundou', 'Sarh', 'Kaolack', 'Fatick',
       'Diourbel', 'Dakar', 'El Gedarif', 'Al-Fashir', 'Kolda', 'Louga',
       'Matam', 'SaintLouis', 'Tambacounda', 'Thies', 'Zguinchor',
       'Al-Damazin', 'El Obeid', 'Kadugli', 'Khartoum', 'Nyala',
       'Port Sudan', 'Bobo Dioulasso', 'Dori', 'DÃ©dougou',
       "Fada N'gourma", 'Kongoussi', 'Nouna', 'Ouagadougou', 'Tenkodogo',
       'Bamako', 'Gao', 'Kayes', 'Mopti', 'Sikasso', 'SÃ©gou',
       'Tombouctou', 'Bo', 'Freetown', 'Kailahun', 'Kenema', 'Koinadugu',
       'Iloilo', 'Nueva Ecija', 'Khorugh', 'Khatlon', 'Dushanbe',
       'Khujand', 'Kurgonteppa', 'Sughd', 'Kampot', 'Maxixe', 'Dhaka',
       'Phnom Penh', 'Kampong Chhnang', 'Battambang', 'Banteay Meanchey',
       'Multan', 'Karachi', 'Lahore', 'Quetta', 'Kathmandu', 'Saclepea',
       'Monrovia', 'Buchanan', 'Bossaso', 'Lasanod', 'Colombo', 'Dongola',
       'Dinsoor', 'Kampong Cham', 'Barranquilla', 'Buenos Aires',
       'Peshawar', 'Bale Robe', 'Debre Marcos', 'Jimma', 'Shashemene'],
      dtype=object)

In [5]:
#First we make a copy of the CovidFoodPriceChage_df dataframe to keep the original dataframe in tact
CovidFoodPriceChange_df_copy=CovidFoodPriceChange_df.copy()
CovidFoodPriceChange_df_copy

,Unnamed: 0,country,price_type,market,commodity,percent,post_covid,yearly
0,0,Cote d'Ivoire,Retail,Abidjan,AttiÃ©kÃ©,NaN,-0.061538,-0.031746
1,1,Cameroon,Retail,YaundÃ©,Bananas (plantains),NaN,0.000000,0.000000
2,2,Cameroon,Retail,Bafoussam,Bananas (plantains),NaN,-0.305556,0.041667
3,3,Morocco,Retail,National Average,Barley (imported),NaN,-0.034483,-0.034483
4,4,Cote d'Ivoire,Retail,Abidjan,Banana (plantains),NaN,0.769231,0.232143
...,...,...,...,...,...,...,...,...
1139,1139,Benin,Retail,Parakou,Yam,NaN,0.057143,0.027778
1140,1140,Benin,Retail,Natitingou,Yam,NaN,0.088235,0.057143
1141,1141,Benin,Retail,Cotonou,Yam,NaN,0.057692,0.100000
1142,1142,Ghana,Wholesale,Tamale,Yam,NaN,-0.090909,0.000000
1143,1143,Ghana,Wholesale,Techiman,Yam,NaN,0.700000,-0.128205

In [6]:
incorrect_city_list=["MedellÃn", "CuliacÃ¡n", "Federal District","ParanÃ¡","BogotÃ¡", "MetroManila", "CuliacÃ¡n",
"DÃ©dougou", "SÃ©gou","Tombouctou",'YaundÃ©', 'SÃ£o Paulo', 'AsunciÃ³n', 'S.Vincente', 'CinkassÃ©', 'LomÃ©', 'S.AntÃ£o']
corrected_city_list = ["Medellín","Culiacán","Distrito Federal","Paraná","Bogotá","Metro Manila","Culiacán","Dédougou","Ségou"
                       ,"Timbuktu",'Yaoundé', 'São Paulo', 'Asunción', 'São Vicente', 'Cinkassé', 'Lomé', 'Santo Antão']

cities_dict = dict(zip(incorrect_city_list, corrected_city_list))

#Calling replace() to update the cities with incorrect spellings
CovidFoodPriceChange_df_copy['market'] = CovidFoodPriceChange_df_copy['market'].replace(cities_dict)

In [7]:
#Examine dataframe to ensure changes took effect
CovidFoodPriceChange_df_copy.head(20)

,Unnamed: 0,country,price_type,market,commodity,percent,post_covid,yearly
0,0,Cote d'Ivoire,Retail,Abidjan,AttiÃ©kÃ©,NaN,-0.061538,-0.031746
1,1,Cameroon,Retail,Yaoundé,Bananas (plantains),NaN,0.000000,0.000000
2,2,Cameroon,Retail,Bafoussam,Bananas (plantains),NaN,-0.305556,0.041667
3,3,Morocco,Retail,National Average,Barley (imported),NaN,-0.034483,-0.034483
4,4,Cote d'Ivoire,Retail,Abidjan,Banana (plantains),NaN,0.769231,0.232143
5,5,Morocco,Retail,National Average,Barley (local),NaN,0.588235,1.076923
6,6,Cameroon,Retail,Douala,Bananas (plantains),NaN,-0.117647,-0.021739
7,7,Democratic Republic of the Congo,Retail,Bukavu,Beans,NaN,-0.112676,0.852941
8,8,Cameroon,Retail,Bamenda,Bananas (plantains),NaN,0.029412,0.060606
9,9,Democratic Republic of the Congo,Retail,Goma,Beans,NaN,0.333333,0.632653
10,10,Rwanda,Wholesale,Kigali,Beans,NaN,-0.122807,-0.166667
11,11,Democratic Republic of the Congo,Retail,Lubumbashi,Beans,NaN,0.371212,0.000000
12,12,Rwanda,Wholesale,Ruhengeri,Beans,NaN,-0.056604,0.000000
13,13,Costa Rica,Retail,National Average,Beans (black),NaN,0.014563,0.060914
14,14,United Republic of Tanzania,Wholesale,Dar es Salaam,Beans,NaN,0.000000,0.228571
15,15,Uganda,Wholesale,Lira,Beans,NaN,0.174603,0.121212
16,16,Uganda,Wholesale,Kampala,Beans,NaN,0.250000,0.214286
17,17,Costa Rica,Wholesale,National Average,Beans (black),NaN,0.050000,0.067797
18,18,Haiti,Retail,Cap Haitien,Beans (black),NaN,0.204545,0.522989
19,19,Dominican Republic,Retail,Santo Domingo,Beans (black),NaN,0.032787,0.131737

In [8]:
#Remove the redundant 'Unnamed:0' column, which stores the index for each row.
CovidFoodPriceChange_df_copy = CovidFoodPriceChange_df_copy.drop(columns=["Unnamed: 0","percent"])
CovidFoodPriceChange_df_copy.head()

,country,price_type,market,commodity,post_covid,yearly
0,Cote d'Ivoire,Retail,Abidjan,AttiÃ©kÃ©,-0.061538,-0.031746
1,Cameroon,Retail,Yaoundé,Bananas (plantains),0.000000,0.000000
2,Cameroon,Retail,Bafoussam,Bananas (plantains),-0.305556,0.041667
3,Morocco,Retail,National Average,Barley (imported),-0.034483,-0.034483
4,Cote d'Ivoire,Retail,Abidjan,Banana (plantains),0.769231,0.232143

In [9]:
#Updating the spelling of commodities with erroneous spellings or special characters
CovidFoodPriceChange_df_copy['commodity'].unique()
value_fix={'AttiÃ©kÃ©':'Attieke'}
CovidFoodPriceChange_df_copy['commodity'] = CovidFoodPriceChange_df_copy['commodity'].replace(value_fix)

In [10]:
value_fix={'Yaoundé':'Yaounde'}
CovidFoodPriceChange_df_copy['market'] = CovidFoodPriceChange_df_copy['market'].replace(value_fix)
#we found that this charcther 'é' does not translate into excel or sql so we chose to omit it and replace it with a 
#similar charcther

In [11]:
#Review updated clean dataframe
CovidFoodPriceChange_df_copy

,country,price_type,market,commodity,post_covid,yearly
0,Cote d'Ivoire,Retail,Abidjan,Attieke,-0.061538,-0.031746
1,Cameroon,Retail,Yaounde,Bananas (plantains),0.000000,0.000000
2,Cameroon,Retail,Bafoussam,Bananas (plantains),-0.305556,0.041667
3,Morocco,Retail,National Average,Barley (imported),-0.034483,-0.034483
4,Cote d'Ivoire,Retail,Abidjan,Banana (plantains),0.769231,0.232143
...,...,...,...,...,...,...
1139,Benin,Retail,Parakou,Yam,0.057143,0.027778
1140,Benin,Retail,Natitingou,Yam,0.088235,0.057143
1141,Benin,Retail,Cotonou,Yam,0.057692,0.100000
1142,Ghana,Wholesale,Tamale,Yam,-0.090909,0.000000
1143,Ghana,Wholesale,Techiman,Yam,0.700000,-0.128205

### Save cleaned dataset into a new csv file in the cleaned_resources folder

In [12]:
#Save cleaned dataset to csv file
CovidFoodPriceChange_df_copy.to_csv("cleaned_resources/percent_change_post_covid.csv",index=False)

## 3. Clean the dom_clean_data dataset

In [13]:
#Read in csv file
dom_clean_data=pd.read_csv('Resources/dom_clean_data.csv')
dom_clean_data

,Unnamed: 0,month,country,price_type,market,commodity,price
0,0,6/1/2020,Cote d'Ivoire,Retail,Abidjan,AttiÃ©kÃ©,NaN
1,1,5/1/2020,Cote d'Ivoire,Retail,Abidjan,AttiÃ©kÃ©,0.61
2,2,4/1/2020,Cote d'Ivoire,Retail,Abidjan,AttiÃ©kÃ©,0.59
3,3,3/1/2020,Cote d'Ivoire,Retail,Abidjan,AttiÃ©kÃ©,0.61
4,4,2/1/2020,Cote d'Ivoire,Retail,Abidjan,AttiÃ©kÃ©,0.63
...,...,...,...,...,...,...,...
170929,170929,5/1/2006,Ghana,Wholesale,Techiman,Yam,0.43
170930,170930,4/1/2006,Ghana,Wholesale,Techiman,Yam,0.33
170931,170931,3/1/2006,Ghana,Wholesale,Techiman,Yam,NaN
170932,170932,2/1/2006,Ghana,Wholesale,Techiman,Yam,0.31
170933,170933,1/1/2006,Ghana,Wholesale,Techiman,Yam,0.31

In [14]:
#Checking that commodity values are accurately spelled and contain no special characters
dom_clean_data['commodity'].unique()

array(['AttiÃ©kÃ©', 'Bananas (plantains)', 'Barley (imported)',
       'Banana (plantains)', 'Barley (local)', 'Beans', 'Beans (black)',
       'Beans (poroto)', 'Beans (red)', 'Beans (wild)', 'Beans (white)',
       'Beef meat', 'Bread', 'Bread (Sabbath loaf)',
       'Bread (French type)', 'Bread (brown)', 'Bread (high grade flour)',
       'Bread (first grade flour)', 'Bread (white)', 'Cabbage',
       'Breakfast maize meal', 'Camel meat', 'Cassava', 'Cassava (dry)',
       'Cassava (flour)', 'Cassava (fresh)', 'Cassava (gari)',
       'Cassava (manioc)', 'Cassava (root)', 'Chicken (without offals)',
       'Chicken (processed)', 'Chicken meat', 'Chickpeas', 'Lentils',
       'Lamb meat', 'Groundnuts', 'Groundnut Oil', 'Gari (white)', 'Gram',
       'Maize', 'Maize (flour)', 'Maize (local)', 'Maize (white)',
       'Maize (white flour)', 'Maize (yellow)', 'Maize (yellow flour)',
       'Maize meal', 'Maize meal (local)', 'Milk', 'Milk (Camel)',
       'Milk (powder)', 'Millet', 'Mutton meat', 'Olive Oil', 'Palm Oil',
       'Onions', 'Pasta', 'Plantains', 'Pork meat',
       'Pork meat with bones', 'Potatoes', 'Quinoa', 'Potatoes (white)',
       'Prawn', 'Rice', 'Radish', 'Rice (imported)', 'Rice ', 'Samp',
       'Sorghum', 'Semolina', 'Soya beans', 'Sugar', 'Tortillas',
       'Tomatoes', 'Taro', 'Teff (mixed)', 'Wheat', 'Vegetable oil',
       'Wheat (flour)', 'Wheat (milling soft)', 'Wheat (white)',
       'White roller maize meal', 'Yam'], dtype=object)

In [15]:
#Fixing spelling of Attieke
value_fix={'AttiÃ©kÃ©':'Attieke'}

dom_clean_data['commodity'] = dom_clean_data['commodity'].replace(value_fix)

In [16]:
dom_clean_data.head()

   Unnamed: 0     month        country price_type   market commodity  price
0           0  6/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke    NaN
1           1  5/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.61
2           2  4/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.59
3           3  3/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.61
4           4  2/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.63

In [17]:
#Dropping all rows with NA values because we will not be able to analyze or visualize the data
dom_clean_data=dom_clean_data.dropna()
dom_clean_data.head()

   Unnamed: 0     month        country price_type   market commodity  price
1           1  5/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.61
2           2  4/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.59
3           3  3/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.61
4           4  2/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.63
5           5  1/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.68

In [18]:
dom_clean_data['market'].unique()

array(['Abidjan', 'YaundÃ©', 'Bafoussam', 'National Average', 'Douala',
       'Bukavu', 'Bamenda', 'Goma', 'Kigali', 'Lubumbashi', 'Mombasa',
       'Nakuru', 'Ruhengeri', 'Dar es Salaam', 'Lira', 'Kampala',
       'Cap Haitien', 'Santo Domingo', 'Guatemala City', 'Ouanaminthe',
       'Les Cayes', 'Jeremie', 'Jacmel', 'Hinche', 'Port-au-Prince',
       'Guadalajara', 'Puebla', 'Mexico City', 'Xalapa', 'Panama City',
       'San Salvador', 'Garoua', 'San Pedro Sula', 'Tegucigalpa',
       'Managua (oriental)', 'Greater Buenos Aires', 'Aktau', 'Almaty',
       'Kostanay', 'Nur-Sultan', 'Batken', 'Bishkek', 'Jalal-Abad',
       'Naryn', 'Osh', 'Nouakchott', 'Selenge', 'Dornod', 'Bayan-Ulgii',
       'Jalalabad', 'Herat', 'Kabul', 'Kandahar', 'Ulaanbaatar',
       'Uvurkhangai', 'Potosi', 'Santiago', 'Bulawayo', 'Manicaland',
       'Harare', 'Mash east', 'Mash central', 'Masvingo', 'Mash west',
       'Lima', 'SÃ£o Paulo', 'Mat north', 'Mat south', 'Midlands',
       'Hhohho', 'Manzini', 'Lubombo', 'Minsk', 'National average',
       'Shiselweni', 'Gaza Strip', 'West Bank', 'Tokyo', 'Osaka',
       'Buchanan', 'Monrovia', 'Saclepea', 'Bo', 'Freetown', 'Kailahun',
       'Koinadugu', 'Juba', 'Kenema', 'Nampula', 'Luanda', 'Bangkok',
       'AsunciÃ³n', 'Cotonou', 'S.Vincente', 'Natitingou', 'Parakou',
       'Amegnran', 'Anie', 'CinkassÃ©', 'Kara', 'Korbongou', 'LomÃ©',
       'S.AntÃ£o', 'Accra', 'Tamale', 'Techiman', 'Mzuzu', 'Cochabamba',
       'La Paz', 'Oruro', 'Santa Cruz', 'Sucre', 'Tarija', 'Trinidad',
       'Hadramout', 'Dhamar', 'New Delhi', 'Mumbai', 'Chennai', 'Hajjah',
       'Hodeidah', 'Sanaa', 'Yangon', 'Ibadan', 'Kano', 'Kaura Namoda',
       'Lagos', 'Maiduguri', 'Bujumbura', 'Ngozi', 'Gitega', "N'Djamena",
       'Bol', 'Moussoro', 'Ambato', 'Mekele', 'Diredawa', 'Bahirdar',
       'Guayaquil', 'Quito', 'Riobamba', 'Addis Ababa', 'Kumasi',
       'Bolgatanga', 'Kisumu', 'Eldoret', 'Liwonde', 'Lilongwe',
       'Nairobi', 'Zinder', 'Tillaberi', 'Niamey', 'Maradi', 'Dosso',
       'Mzimba', 'Nsanje', 'Agadez', 'Arusha', 'Masindi', 'Kabale',
       'Conakry', 'MedellÃ\xadn', 'Angonia', 'Chokwe', 'Gorongosa',
       'Manica', 'Maputo', 'Maxixe', 'Milange', 'Montepuez', 'Ribaue',
       'Giwa', 'South Cotabato', 'Belet Weyne', 'Baidoa', 'Hargeisa',
       'Borama', 'Buale', 'Galkayo', 'Hudur', 'Kismayo', 'Marka',
       'Mogadishu', 'Qorioley', 'Randfontein', 'Aweil', 'Bor', 'Gogrial',
       'Rumbek', 'Torit', 'Wau', 'Yambio', 'CuliacÃ¡n', 'Davao City',
       'Cebu', 'Rosario', 'Mato Grosso', 'Federal District', 'ParanÃ¡',
       'Rio Grande do Sul', 'Portoviejo', 'Cuenca', 'Cartagena',
       'BogotÃ¡', 'MetroManila', 'Katima', 'Gobabis', 'Keetmanshoop',
       'Mariental', 'Oshakati', 'Otjiwarongo', 'Swakopmund', 'Windhoek',
       'Ahmedabad', 'Bengaluru', 'Bhopal', 'Patna', 'Abeche', 'Moundou',
       'Sarh', 'Kaolack', 'Fatick', 'Diourbel', 'Dakar', 'El Gedarif',
       'Al-Fashir', 'Kolda', 'Louga', 'Matam', 'SaintLouis',
       'Tambacounda', 'Thies', 'Zguinchor', 'Al-Damazin', 'El Obeid',
       'Kadugli', 'Khartoum', 'Nyala', 'Port Sudan', 'Bobo Dioulasso',
       'Dori', 'DÃ©dougou', "Fada N'gourma", 'Kongoussi', 'Nouna',
       'Ouagadougou', 'Tenkodogo', 'Bamako', 'Gao', 'Kayes', 'Mopti',
       'Sikasso', 'SÃ©gou', 'Tombouctou', 'Iloilo', 'Nueva Ecija',
       'Khorugh', 'Khatlon', 'Dushanbe', 'Khujand', 'Kurgonteppa',
       'Sughd', 'Kampot', 'Dhaka', 'Phnom Penh', 'Kampong Chhnang',
       'Battambang', 'Banteay Meanchey', 'Multan', 'Karachi', 'Lahore',
       'Quetta', 'Kathmandu', 'Bossaso', 'Lasanod', 'Colombo', 'Dongola',
       'Dinsoor', 'Kampong Cham', 'Barranquilla', 'Buenos Aires',
       'Peshawar', 'Bale Robe', 'Debre Marcos', 'Jimma', 'Shashemene'],
      dtype=object)

In [19]:
dom_clean_data['market'] = dom_clean_data['market'].replace(cities_dict)

C:\Users\anika\AppData\Local\Temp\ipykernel_14664\3556168657.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dom_clean_data['market'] = dom_clean_data['market'].replace(cities_dict)

In [20]:
dom_clean_data['market'].unique()

array(['Abidjan', 'Yaoundé', 'Bafoussam', 'National Average', 'Douala',
       'Bukavu', 'Bamenda', 'Goma', 'Kigali', 'Lubumbashi', 'Mombasa',
       'Nakuru', 'Ruhengeri', 'Dar es Salaam', 'Lira', 'Kampala',
       'Cap Haitien', 'Santo Domingo', 'Guatemala City', 'Ouanaminthe',
       'Les Cayes', 'Jeremie', 'Jacmel', 'Hinche', 'Port-au-Prince',
       'Guadalajara', 'Puebla', 'Mexico City', 'Xalapa', 'Panama City',
       'San Salvador', 'Garoua', 'San Pedro Sula', 'Tegucigalpa',
       'Managua (oriental)', 'Greater Buenos Aires', 'Aktau', 'Almaty',
       'Kostanay', 'Nur-Sultan', 'Batken', 'Bishkek', 'Jalal-Abad',
       'Naryn', 'Osh', 'Nouakchott', 'Selenge', 'Dornod', 'Bayan-Ulgii',
       'Jalalabad', 'Herat', 'Kabul', 'Kandahar', 'Ulaanbaatar',
       'Uvurkhangai', 'Potosi', 'Santiago', 'Bulawayo', 'Manicaland',
       'Harare', 'Mash east', 'Mash central', 'Masvingo', 'Mash west',
       'Lima', 'São Paulo', 'Mat north', 'Mat south', 'Midlands',
       'Hhohho', 'Manzini', 'Lubombo', 'Minsk', 'National average',
       'Shiselweni', 'Gaza Strip', 'West Bank', 'Tokyo', 'Osaka',
       'Buchanan', 'Monrovia', 'Saclepea', 'Bo', 'Freetown', 'Kailahun',
       'Koinadugu', 'Juba', 'Kenema', 'Nampula', 'Luanda', 'Bangkok',
       'Asunción', 'Cotonou', 'São Vicente', 'Natitingou', 'Parakou',
       'Amegnran', 'Anie', 'Cinkassé', 'Kara', 'Korbongou', 'Lomé',
       'Santo Antão', 'Accra', 'Tamale', 'Techiman', 'Mzuzu',
       'Cochabamba', 'La Paz', 'Oruro', 'Santa Cruz', 'Sucre', 'Tarija',
       'Trinidad', 'Hadramout', 'Dhamar', 'New Delhi', 'Mumbai',
       'Chennai', 'Hajjah', 'Hodeidah', 'Sanaa', 'Yangon', 'Ibadan',
       'Kano', 'Kaura Namoda', 'Lagos', 'Maiduguri', 'Bujumbura', 'Ngozi',
       'Gitega', "N'Djamena", 'Bol', 'Moussoro', 'Ambato', 'Mekele',
       'Diredawa', 'Bahirdar', 'Guayaquil', 'Quito', 'Riobamba',
       'Addis Ababa', 'Kumasi', 'Bolgatanga', 'Kisumu', 'Eldoret',
       'Liwonde', 'Lilongwe', 'Nairobi', 'Zinder', 'Tillaberi', 'Niamey',
       'Maradi', 'Dosso', 'Mzimba', 'Nsanje', 'Agadez', 'Arusha',
       'Masindi', 'Kabale', 'Conakry', 'MedellÃ\xadn', 'Angonia',
       'Chokwe', 'Gorongosa', 'Manica', 'Maputo', 'Maxixe', 'Milange',
       'Montepuez', 'Ribaue', 'Giwa', 'South Cotabato', 'Belet Weyne',
       'Baidoa', 'Hargeisa', 'Borama', 'Buale', 'Galkayo', 'Hudur',
       'Kismayo', 'Marka', 'Mogadishu', 'Qorioley', 'Randfontein',
       'Aweil', 'Bor', 'Gogrial', 'Rumbek', 'Torit', 'Wau', 'Yambio',
       'Culiacán', 'Davao City', 'Cebu', 'Rosario', 'Mato Grosso',
       'Distrito Federal', 'Paraná', 'Rio Grande do Sul', 'Portoviejo',
       'Cuenca', 'Cartagena', 'Bogotá', 'Metro Manila', 'Katima',
       'Gobabis', 'Keetmanshoop', 'Mariental', 'Oshakati', 'Otjiwarongo',
       'Swakopmund', 'Windhoek', 'Ahmedabad', 'Bengaluru', 'Bhopal',
       'Patna', 'Abeche', 'Moundou', 'Sarh', 'Kaolack', 'Fatick',
       'Diourbel', 'Dakar', 'El Gedarif', 'Al-Fashir', 'Kolda', 'Louga',
       'Matam', 'SaintLouis', 'Tambacounda', 'Thies', 'Zguinchor',
       'Al-Damazin', 'El Obeid', 'Kadugli', 'Khartoum', 'Nyala',
       'Port Sudan', 'Bobo Dioulasso', 'Dori', 'Dédougou',
       "Fada N'gourma", 'Kongoussi', 'Nouna', 'Ouagadougou', 'Tenkodogo',
       'Bamako', 'Gao', 'Kayes', 'Mopti', 'Sikasso', 'Ségou', 'Timbuktu',
       'Iloilo', 'Nueva Ecija', 'Khorugh', 'Khatlon', 'Dushanbe',
       'Khujand', 'Kurgonteppa', 'Sughd', 'Kampot', 'Dhaka', 'Phnom Penh',
       'Kampong Chhnang', 'Battambang', 'Banteay Meanchey', 'Multan',
       'Karachi', 'Lahore', 'Quetta', 'Kathmandu', 'Bossaso', 'Lasanod',
       'Colombo', 'Dongola', 'Dinsoor', 'Kampong Cham', 'Barranquilla',
       'Buenos Aires', 'Peshawar', 'Bale Robe', 'Debre Marcos', 'Jimma',
       'Shashemene'], dtype=object)

In [21]:
dom_clean_data.head()

   Unnamed: 0     month        country price_type   market commodity  price
1           1  5/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.61
2           2  4/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.59
3           3  3/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.61
4           4  2/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.63
5           5  1/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.68

In [22]:
#Removing 'Unnamed: 0' column
dom_clean_data=dom_clean_data[['month','country','price_type','market','commodity','price']]
dom_clean_data

           month        country price_type    market commodity  price
1       5/1/2020  Cote d'Ivoire     Retail   Abidjan   Attieke   0.61
2       4/1/2020  Cote d'Ivoire     Retail   Abidjan   Attieke   0.59
3       3/1/2020  Cote d'Ivoire     Retail   Abidjan   Attieke   0.61
4       2/1/2020  Cote d'Ivoire     Retail   Abidjan   Attieke   0.63
5       1/1/2020  Cote d'Ivoire     Retail   Abidjan   Attieke   0.68
...          ...            ...        ...       ...       ...    ...
170928  6/1/2006          Ghana  Wholesale  Techiman       Yam   0.52
170929  5/1/2006          Ghana  Wholesale  Techiman       Yam   0.43
170930  4/1/2006          Ghana  Wholesale  Techiman       Yam   0.33
170932  2/1/2006          Ghana  Wholesale  Techiman       Yam   0.31
170933  1/1/2006          Ghana  Wholesale  Techiman       Yam   0.31

[141772 rows x 6 columns]

In [23]:
dom_clean_data.shape

(141772, 6)

### Save cleaned dataset as csv file

In [24]:
dom_clean_data.to_csv("cleaned_resources/new_dom_clean_data.csv",index=False)

## 4. Read international data into dataframe

In [25]:
int_clean_data=pd.read_csv('Resources/int_clean_data.csv')
int_clean_data.head(25)

    Unnamed: 0        time    country commodity price
0            0  2020-06-01  Australia      Beef  4.97
1            1  2020-05-01  Australia      Beef  5.07
2            2  2020-04-01  Australia      Beef  4.46
3            3  2020-03-01  Australia      Beef  4.39
4            4  2020-02-01  Australia      Beef  4.55
5            5  2020-01-01  Australia      Beef  4.93
6            6  2019-12-01  Australia      Beef  5.72
7            7  2019-11-01  Australia      Beef   6.2
8            8  2019-10-01  Australia      Beef  5.09
9            9  2019-09-01  Australia      Beef  4.83
10          10  2019-08-01  Australia      Beef  4.69
11          11  2019-07-01  Australia      Beef  4.73
12          12  2019-06-01  Australia      Beef  4.65
13          13  2019-05-01  Australia      Beef  4.59
14          14  2019-04-01  Australia      Beef  4.75
15          15  2019-03-01  Australia      Beef  4.54
16          16  2019-02-01  Australia      Beef  4.44
17          17  2019-01-01  Australia      Beef  4.24
18          18  2018-12-01  Australia      Beef  4.18
19          19  2018-11-01  Australia      Beef  3.96
20          20  2018-10-01  Australia      Beef  3.82
21          21  2018-09-01  Australia      Beef  4.02
22          22  2018-08-01  Australia      Beef   4.1
23          23  2018-07-01  Australia      Beef  4.12
24          24  2018-06-01  Australia      Beef  4.18

In [26]:
int_clean_data_cleaned = dom_clean_data.copy()
int_clean_data_cleaned=int_clean_data_cleaned.dropna()
int_clean_data_cleaned.head(10)

        month        country price_type   market commodity  price
1    5/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.61
2    4/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.59
3    3/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.61
4    2/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.63
5    1/1/2020  Cote d'Ivoire     Retail  Abidjan   Attieke   0.68
6   12/1/2019  Cote d'Ivoire     Retail  Abidjan   Attieke   0.64
7   11/1/2019  Cote d'Ivoire     Retail  Abidjan   Attieke   0.65
8   10/1/2019  Cote d'Ivoire     Retail  Abidjan   Attieke   0.63
9    9/1/2019  Cote d'Ivoire     Retail  Abidjan   Attieke   0.61
10   8/1/2019  Cote d'Ivoire     Retail  Abidjan   Attieke   0.65

In [27]:
#Removing unnecessary 'Unnamed: 0 column'
int_clean_data=int_clean_data[['time','country','commodity','price']]
int_clean_data.head(10)

         time    country commodity price
0  2020-06-01  Australia      Beef  4.97
1  2020-05-01  Australia      Beef  5.07
2  2020-04-01  Australia      Beef  4.46
3  2020-03-01  Australia      Beef  4.39
4  2020-02-01  Australia      Beef  4.55
5  2020-01-01  Australia      Beef  4.93
6  2019-12-01  Australia      Beef  5.72
7  2019-11-01  Australia      Beef   6.2
8  2019-10-01  Australia      Beef  5.09
9  2019-09-01  Australia      Beef  4.83

In [28]:
#check country names for misspellings or special characters
int_clean_data['country'].unique()

array(['Australia', 'Bangladesh', 'Black Sea', 'Brazil',
       'Brazil (Paranagua)', 'Canada (St Lawrence)', 'East Africa',
       'Europe and Oceania', 'EU (France)', 'EU (UK)', 'Kazakhstan',
       'FAO Tea Composite Price', 'ICE futures US', 'India',
       'Mombasa Auction', 'New Zealand', 'Philippines', 'Pakistan',
       'Russian Federation', 'Thailand', 'US', 'US (Kentucky)', 'Ukraine',
       'Unspecified', 'Uruguay', 'Viet Nam', 'Argentina (Up River)',
       'Central America', 'Thailand (Bangkok)', 'US (Gulf)'], dtype=object)

#### Some rows have a country value of 'Unspecified', ''FAO Tea Composite Price', or "ICE futures US'. We cannot use this data and thus want to remove it

In [29]:
int_clean_data[int_clean_data['country']=='Unspecified'].shape

(1516, 4)

In [30]:
#Confirming how many rows out of the entire dataset has this value
int_clean_data_cleaned[int_clean_data_cleaned['country']=='ICE futures US'].shape

(0, 6)

In [31]:
#Confirming how many rows out of the entire dataset has this value
int_clean_data_cleaned[int_clean_data_cleaned['country']=='FAO Tea Composite Price'].shape

(0, 6)

In [32]:
#Removing rows with these country values from the dataframe
int_clean_data_cleaned = int_clean_data[int_clean_data['country']!='Unspecified']
int_clean_data_cleaned = int_clean_data_cleaned[int_clean_data_cleaned['country']!='ICE futures US']
int_clean_data_cleaned = int_clean_data_cleaned[int_clean_data_cleaned['country']!='FAO Tea Composite Price']

In [33]:
int_clean_data_cleaned['country'].unique()

array(['Australia', 'Bangladesh', 'Black Sea', 'Brazil',
       'Brazil (Paranagua)', 'Canada (St Lawrence)', 'East Africa',
       'Europe and Oceania', 'EU (France)', 'EU (UK)', 'Kazakhstan',
       'India', 'Mombasa Auction', 'New Zealand', 'Philippines',
       'Pakistan', 'Russian Federation', 'Thailand', 'US',
       'US (Kentucky)', 'Ukraine', 'Uruguay', 'Viet Nam',
       'Argentina (Up River)', 'Central America', 'Thailand (Bangkok)',
       'US (Gulf)'], dtype=object)

In [34]:
#Check commodity values for misspellings or special characters
int_clean_data_cleaned['commodity'].unique()

array(['Beef', 'Barley (feed)', 'Wheat', 'Jute', 'Maize (feed)',
       'Wheat (feed)', 'Wheat (milling)', 'Sisal', 'Butter',
       'Cheddar Cheese', 'Whole Milk Powder', 'Skim Milk Powder', 'Rice',
       'Tea', 'Lamb', 'Coconut oil', 'Cassava Chips',
       'Cassava Flour/Starch', 'Groundnuts', 'Soybean', 'Maize',
       'Bananas (US East Coast)', 'Bananas (US West Coast)', 'Sorghum'],
      dtype=object)

In [35]:
#Some values in the 'price' column have a comma in them, which is not compatible with PostgreSQL
#Remove the comma from these values
int_clean_data_cleaned['price'].replace(',','', regex=True, inplace=True)

In [36]:
int_clean_data_cleaned.head(20)

          time    country commodity price
0   2020-06-01  Australia      Beef  4.97
1   2020-05-01  Australia      Beef  5.07
2   2020-04-01  Australia      Beef  4.46
3   2020-03-01  Australia      Beef  4.39
4   2020-02-01  Australia      Beef  4.55
5   2020-01-01  Australia      Beef  4.93
6   2019-12-01  Australia      Beef  5.72
7   2019-11-01  Australia      Beef   6.2
8   2019-10-01  Australia      Beef  5.09
9   2019-09-01  Australia      Beef  4.83
10  2019-08-01  Australia      Beef  4.69
11  2019-07-01  Australia      Beef  4.73
12  2019-06-01  Australia      Beef  4.65
13  2019-05-01  Australia      Beef  4.59
14  2019-04-01  Australia      Beef  4.75
15  2019-03-01  Australia      Beef  4.54
16  2019-02-01  Australia      Beef  4.44
17  2019-01-01  Australia      Beef  4.24
18  2018-12-01  Australia      Beef  4.18
19  2018-11-01  Australia      Beef  3.96

### Cleaning is complete. Save the last dataset to a csv

In [37]:
int_clean_data_cleaned.to_csv("cleaned_resources/int_clean_data_cleaned.csv",index=False)